<!DOCTYPE html>
<html lang="en" ng-app="app">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<title>EscaleSEO - Test</title>

		<!-- bootstrap -->
		<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
		<!-- bootstrap -->
	</head>

	<body ng-controller="starsControllers">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<form class="form-inline">
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label>Filtrar por linguagem</label>

									<select class="form-control" ng-model="languageFilter">
										<option value="">Todos</option>

										<option ng-repeat="card in cards | unique: 'language'" ng-show="card.language" ng-value="card.language">{{card.language}}</option>
									</select>
								</div>
							</div>

							<div class="pull-right">
								<label>Ordenar por</label>

								<select class="form-control" ng-model="orderFilter">
									<option ng-value="">Aleatório</option>
									<option ng-value="'name'">Alfabética (A-Z)</option>
									<option ng-value="'-name'">Alfabética (Z-A)</option>
									<option ng-value="'stargazers_count'">Quantidade starts (1-9)</option>
									<option ng-value="'-stargazers_count'">Quantidade starts (9-1)</option>
									<option ng-value="'open_issues'">Quantidade open issues (1-9)</option>
									<option ng-value="'-open_issues'">Quantidade open issues (9-1)</option>
								</select>
							</div>
						</div>
					</form>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-6 col-md-3" ng-repeat="card in cards | filterBy: ['language'] : languageFilter | orderBy: orderFilter">
					<div class="thumbnail">
						<img ng-src="{{card.owner.avatar_url}}" class="img-responsive">
					</div>

					<div class="caption">
						<h3>{{card.name}}</h3>

						<p>
							{{card.description}} <br />
							{{card.language}}
						</p>

						<p>
							{{card.stargazers_count}} <br />
							{{card.open_issues}}
						</p>

						<p>
							{{card.created_at}} <br />
							{{card.pushed_at}}
						</p>
					</div>
				</div>
			</div>
		</div>

		<!-- lib angular -->
		<script src="bower_components/angular/angular.js"></script>
		<!-- lib angular -->

		<!-- modules -->
		<script src="js/app.js"></script>
		<script src="bower_components/angular-filter/dist/angular-filter.min.js"></script>
		<!-- modules -->

		<!-- services -->
		<script src="js/services/githubService.js"></script>
		<!-- services -->

		<!-- controllers -->
		<script src="js/controllers/starsControllers.js"></script>
		<!-- controllers -->
	</body>
</html>